
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col1">
                <h2>Menu</h2>
                <h3>Nosotros</h3>
                <h3>Certificaciones</h3>
                <h3>Procesos</h3>
                <h3>Productos</h3>
                <h3>Contacto</h3>  
            </div>

            <div class="footer-col">
                <h2>Contactanos</h2>
                <h3>Planta Cienega</h3>
                <p>Carr.Libre a Laredo Km.24.5 <br>Cienega
                    de Flores, NL.Mexico CP 65550 <br>
                    Tel.+52(81) 89014162-65
                </p>
            </div>

            <div class="footer-col">
                <h2>Siguenos</h2>
                <div class="social-links">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>

    </div>
</footer>
