/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@600&display=swap');

body{
    background-image: url(/assets/background3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}



