.content{
  
}

.mat-toolbar{
    background: #fff;
    justify-content: space-around;
    
}

.button-text {
    padding: 0 14px;
}

.button-text-red {
    padding: 6px 14px 6px 14px ;
    color: #fff;
    background: #E21F27;
    
}

.logo{
    width: 210px;
	margin-left: 3.8vh;
	display: flex;
}


.lock{
    background: #b10121;
    color: #d6ddd6;
    font-size: 20px;
    margin-top: 0px;
    padding: 2.2px 14px 2.2px 14px ;
}

.spacer{
    flex: 1 1 auto;
}

.mat-drawer{
    bottom: 200px;
    width: 100%;
    height: 100%;
    position: absolute;
}

a{
    text-decoration: none;
    white-space: normal;
}

button{
    min-width: min-content;
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .mat-sidenav-content{
      font-size: 200%;
      background-image: url(/assets/background3.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      overflow: hidden;
  }

  .mat-sidenav{
      position: fixed;
      overflow: hidden;
  }

  .mat-drawer-container {
      width: 100%;
      height: 100%;
  }

  .mat-sidenav-container{
    width: 100%;
      height: 100%;
  }
  
  .sidebtn{
    margin-top: 20px;
  }

  .sidebtn1{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

 

  @media(max-width:868px){
    .logo{
        width: 210px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .lock{
        background: #b10121;
        color: #d6ddd6;
        font-size: 20px;
        margin-top: 0px;
        padding: 2.4px 14px 2.4px 14px ;
    }


    .logosidenav{
        width: 500px;
        height: 500px;
        position: relative;
        right:80px;
    }
    
    .sidebtn2{
        bottom: 300px;
        z-index: 1;
        margin-top: 10px;
    }
  }

  @media(max-width:700px){
    .logo{
        width: 210px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .lock{
        background: #b10121;
        color: #d6ddd6;
        font-size: 20px;
        margin-top: 0px;
        padding: 2.4px 14px 2.4px 14px ;
    }
    
    .sidebtn2{
        bottom: 120px;
        z-index: 1;
        margin-top: 10px;
    }
  
    .logosidenav{
        width: 250px;
        height: 250px;
        position: relative;
        right:40px;
    }

  }
